#custom-web-box {
    display: none;
    position: fixed;
    background: #fff;
    color: #222;
    font: 14px sans;
    top: 0;
    width: 340px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 9999999999;
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
}

#custom-web-box * {
    box-sizing: border-box;
}

#custom-web-box .cweb-t {
    color: inherit;
    font-family: serif;
    font-size: 1.2em;
    padding: 3px;
}

#custom-web-box .cweb-sep {
    padding: 3px;
}

#custom-web-box textarea {
    width: 100%;
    height: auto;
    display: block;
    font-family: monospace;
    font-size: inherit;
    padding: 6px;
    margin-top: 3px;
    border-style: solid;
    border-width: 1px 0;
    border-color: rgba(0,0,0,0.3);
    border-radius: 0;
    background-color: rgba(0,0,0,0.03);
    color: inherit;
    overflow-y: hidden;
    box-shadow: none;
}

#custom-web-box textarea:focus {
    border-color: #000;
    outline: none;
}

#custom-web-box button {
    display: inline-block;
    float: right;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
    margin: 0;
    padding: 3px 6px;
    background-color: inherit;
    color: inherit;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 1px 0;
}

#custom-web-box button:hover {
    background-color: rgba(0,0,0,0.1);
}

#custom-web-box button:active {
    box-shadow: none;
}
