#custom-web-box
  display none
  position fixed
  background white
  color #222
  font 14px sans
  top 0
  width 340px
  height 100%
  padding 6px
  box-sizing border-box
  overflow-y auto
  z-index 9999999999
  box-shadow 0 0 6px rgba(0, 0, 0, .7)

  *
    box-sizing border-box

  .cweb-t
    color inherit
    font-family serif
    font-size 1.3em

  textarea
    width 100%
    height 200px
    display block
    margin-bottom 12px
    font-family monospace
    font-size inherit
    padding 6px
    margin-top 3px
    border-radius 1px
    border-color rgba(0, 0, 0, .2)
    box-shadow inset 0 0 9px @border-color
    background-color rgba(0, 0, 0, .05)
    color inherit

    &:focus
      border-color rgba(0, 0, 0, .6)
      box-shadow @box-shadow, 0 0 3px @border-color
      outline none

  button, a
    display inline-block
    text-decoration none
    font inherit
    cursor pointer
    margin 3px
    padding 3px 6px
    background-color inherit
    color inherit
    border-radius 2px
    border 1px solid rgba(0, 0, 0, .4)
    box-shadow 0 1px 0 @border-color

    &:hover
      background-color rgba(0, 0, 0, .1)

    &:active
      box-shadow none
      -webkit-transform translateY(1px)
