#custom-web-box
  display none
  position fixed
  background white
  color #333
  font 14px sans
  right 0
  top 0
  width 340px
  height 100%
  padding 6px
  box-sizing border-box
  z-index 99999
  box-shadow 0 0 6px rgba(0, 0, 0, .7)

  &.active
    display block

  &.active-add, &.active-rem
    display block
    transition all .3s ease

  &.active-add, &.active-remed
    -webkit-transform translateX(200px)
    opacity 0

  &.active-added, &.active-rem
    -webkit-transform translateX(0)
    opacity 1

  &.left
    right auto
    left 0

  *
    box-sizing border-box

  h1
    color inherit
    font-size 1.2em

  label
    display block
    margin-bottom 12px

  textarea
    width 100%
    height 120px
    font-family monospace
    font-size inherit
    padding 6px
    margin-top 3px
    border-radius 1px
    border-color rgba(0, 0, 0, .2)
    box-shadow inset 0 0 9px @border-color

  button
    font inherit
    cursor pointer
    padding 1px 6px
