#custom-web-box
  display none
  position fixed
  background white
  color #333
  font 14px sans
  right 0
  top 0
  width 340px
  height 100%
  padding 6px
  box-sizing border-box
  z-index 99999
  box-shadow 0 0 6px rgba(0, 0, 0, .7)

  &.active
    display block

  &.left
    right auto
    left 0

  *
    box-sizing border-box

  h1
    color inherit
    font-size 1.2em

  label
    display block
    margin-bottom 12px

  textarea
    width 100%
    height 120px
    font-family monospace
    font-size inherit

  button
    font inherit
    cursor pointer
