* { box-sizing: border-box; }

html, body {
    font-size: 14px;
    margin: 0;
    height: 100%;
    color: #333;
}

aside {
    width: 200px;
    height: 100%;
    float: left;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    padding-bottom: 24px;
    overflow: auto;
}

aside .title {
    padding: 3px 6px;
    margin: 6px 0 0;
    display: inline-block;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside a {
    display: block;
    padding: 3px 6px;
    text-decoration: none;
    color: inherit;
}

aside a:hover {
    background-color: #FC420C;
    color: #FEE;
}

aside a.active {
    background-color: #F53C06;
    color: #FEE;
}

aside > a:hover, aside > a.active {
    background-color: #A909E5;
    color: #EEF;
}

.box {
    width: calc(100% - 200px);
    height: 100%;
    padding: 6px 12px;
    float: left;
    display: none;
    overflow: auto;
}

label {
    display: block;
    margin-bottom: 6px;
}

#ie-box textarea {
    display: block;
    width: 100%;
    height: 80px;
    margin-bottom: 12px;
}

#editor-box .title {
    padding: 3px 6px;
    font-size: 1.2em;
}

#editor-box .css-editor .title {
    background: #40C70D;
    color: #EFE;
}

#css-input {
    border-color: #40C70D;
}

#editor-box .js-editor .title {
    background: #0BA8D6;
    color: #EEF;
}

#js-input {
    border-color: #0BA8D6;
}

#css-input, #js-input {
    border-width: 0 1px 1px;
    border-style: solid;
    border-radius: 0 0 3px 3px;
}

.CodeMirror {
    height: auto;
    overflow-y: hidden;
}

button {
    font: inherit;
    cursor: pointer;
}

#undo-osd {
    background-color: #A909E5;
    color: #EEF;
    border: none;
    border-radius: none;
    padding: 6px 12px;
    font-size: 1.4em;
    position: fixed;
    min-width: 20%;
    top: -50px;
    right: 60px;
    opacity: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
    -webkit-transition: all .4s ease-out;
}

#undo-osd.has-data {
    top: -20px;
    opacity: .8;
}

#undo-osd.has-data:hover {
    top: 0;
    opacity: 1;
}

#undo-osd.has-data.active {
    top: 42px;
    opacity: 1;
}

#undo-osd .progress {
    display: none;
}

#undo-osd.active .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #F53C06;
    display: block;
}
