* { box-sizing: border-box; }

::-webkit-scrollbar {
    background-color: #EEE8D5;
    border: none;
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #586E75;
    border: none;
}

::selection {
    background: #FF5E99;
    color: #FDF6E3;
}

html, body {
    font-size: 14px;
    margin: 0;
    height: 100%;
    color: #586E75;
    background: #FDF6E3;
}

button {
    border: none;
    border-radius: 1px;
    padding: 3px 12px;
    font: inherit;
    cursor: pointer;
    background: #268BD2;
    color: #EEF;
    box-shadow: 0 1px 2px #268BD2;
}

button:active {
    box-shadow: none;
}

button:disabled {
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none;
}

aside {
    width: 200px;
    height: 100%;
    float: left;
    box-shadow: 0 0 6px #93A1A1;
    padding-bottom: 24px;
    overflow: auto;
}

aside .title {
    padding: 3px 6px;
    margin: 9px 0 6px;
    color: #B58900;
    display: inline-block;
}

aside h2.title {
    margin-top: 0;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside a {
    display: block;
    padding: 3px 6px;
    text-decoration: none;
    color: inherit;
}

aside a:hover {
    background: #839496;
    color: #FDF6E3;
}

aside a.active {
    background: #586E75;
    color: #EEE8D5;
}

aside > a.active {
    background: #CB4B16;
    color: #FEE;
}

.box {
    width: calc(100% - 200px);
    height: 100%;
    padding: 6px 12px 48px;
    float: left;
    display: none;
    overflow: auto;
}

label {
    display: block;
    margin-bottom: 6px;
}

#ie-box textarea {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    background: transparent;
    color: inherit;
    font: inherit;
    border-color: #002B36;
}

#editor-box .title {
    padding: 3px 6px;
    font-size: 1.2em;
}

#editor-box .css-editor .title {
    background: #859900;
    color: #EFE;
}

#css-input {
    border-color: #859900;
}

#editor-box .js-editor .title {
    background: #2AA198;
    color: #EEF;
}

#js-input {
    border-color: #2AA198;
}

#css-input, #js-input {
    border-width: 0 1px 1px;
    border-style: solid;
    border-radius: 0 0 3px 3px;
}

.CodeMirror {
    height: auto;
    overflow-y: hidden;
    font-size: 1.1em;
}

#css-input .CodeMirror-gutters {
    background: #859900;
}

#js-input .CodeMirror-gutters {
    background: #2AA198;
}

#css-input .CodeMirror-linenumber,
#js-input .CodeMirror-linenumber {
    color: #FDF6E3;
}

#del-btn {
    background: #DC322F;
    box-shadow: 0 1px 2px #DC322F;
    color: #FEE;
}

.doc-ln {
    margin-left: 18px;
    background: #6C71C4;
    color: #EEF;
    box-shadow: 0 1px 2px #6C71C4;
}

#undo-osd {
    background: #D33682;
    color: #FEE;
    box-shadow: 1px 1px 3px #D33682;
    padding: 6px 18px;
    font-size: 1.3em;
    position: fixed;
    min-width: 20%;
    top: -50px;
    right: 60px;
    opacity: 0;
    -webkit-transition: all .4s ease-out;
}

#undo-osd.has-data {
    top: -20px;
    opacity: .8;
}

#undo-osd.has-data:hover {
    top: 0;
    opacity: 1;
}

#undo-osd.has-data.active {
    top: 42px;
    opacity: 1;
}
